/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 project
        4.4 services
        4.5 contactform and footer
 */
        /*5. Media Queries*/
/*///////////////////////!*!*/

/* ------------------------------- 1. Global Styles -------------------------------- */

body {
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300&display=swap');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ------------------------------- 2. Typography ----------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Merriweather','Times New Roman', serif  ;
}
 body {
    font-family: 'Roboto','Verdana', sans-serif;
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
/*{*/
/*    Paars #5722CD;*/
/*    Blauw #4845E4;*/
/*    Roze #ED4385 ;*/
/*    Zwart #0C0C0C(voor standaard tekst);*/
/*    Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services")Uitzonderingen*/
/*Lichtgrijs#F3F6F9;( voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A;( voor de service-tegel tekst);*/
/*}*/
/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
.list {
   display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
    list-style: none;
    align-items: center;
    /*background-color: #5722cd;*/
    color: white;
    font-size: 13px;
    border: solid black 10px;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: red;
}
.out-list {
    background-color: #5722cd;
    padding-right: 50px;
    border: dotted greenyellow 20px;


}
.titel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5722cd;
    color: white;
    border: solid palegreen 10px;
    padding: 40px;
    flex-basis: 1000px;
}
.inner-titel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:12px;
    flex-basis: 200px;
    border: solid red;
    margin: 0 10px 0 10px;

}
.favorite-styled {
    background-color: #ED4385;
    color: white;
  /*  !*border: solid black 10px;*!*/
    line-height: 2.5;
    padding: 10px 30px;
    margin: 3px;
    font-size: 10px;
    text-align: center;
    border-radius: 40px;
    font-family: 'Roboto','Verdana', sans-serif;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  text-transform:uppercase;
}

.img {
    display: flex;
    flex-direction: column;
    width: 4%;
    color:white;
  margin-bottom: -45px;
}
/* --------------- 4.2 Introduction ------------------- */
.out-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: orange dashed 8px;
    flex-basis: 1000px;
}

.inner-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #5722CD;
    border: solid #0C0C0C;
    flex-basis: 750px;
    font-size: 15px;
    text-align: center;
    padding: 50px 87px;
    gap: 20px;
    margin: 50px 20px;
    position: relative
}
.link-c {
  color: blue;
}
.q-link {
    color: #0C0C0C;
    font-size: 13px;
    position:absolute;
    bottom: 0;
    left:calc(50% - 150px);

}
/*----------------- 4.3 project --------------- */
.article-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 600px;
  background-color: orange;
  border: solid purple 10px;
  padding: 100px;
}
.article-box-1 {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:flex-start;
  flex-basis: 380px;
  padding: 150px 0;
  /*gap: 10px;*/
  border: solid black 10px;
  flex-shrink: 1;


}
.img-rolling {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 100px;
  width: 110%;
}
.image-wrapper {
  flex-basis: 800px;
  flex-grow: 0;
  flex-shrink: 1;
}
span.link {
  color: #5722CD;
}
.article-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-basis: 600px;
  background-color: orange;
  border: solid purple 10px;
  padding: 10px 50px 0 0;
  gap:20px;

}
.article-box-2 {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:flex-start;
  flex-basis: 380px;
  padding: 110px 190px 110px 0;
  /*gap: 25px;*/
  border: solid black 10px;

}
.img-variety {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
  width: 110%;
  padding-left: 16px;
}
span.link {
  color: #5722CD;
}
.article-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 600px;
  background-color: orange;
  border: solid purple 10px;
  padding: 100px;
}
.article-box-3 {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:flex-start;
  flex-basis: 380px;
  padding: 150px 0;
  /*gap: 10px;*/
  border: solid black 10px;
  flex-shrink: 1;


}
.img-worth {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 100px;
  width: 110%;
}
span.link {
  color: #5722CD;
}
/*---------------------4.4 services---------------*/
.service-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 1200px;
  border: solid gold 10px;
  background-color: #ED4385;

}
.service-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 1200px;
  border: solid gold 10px;
  background-color: #ED4385;


}
.service-box-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 350px;
  flex-grow: 1;
  flex-shrink: 1;
  border: solid black 10px;
  background-color: palegreen;
  padding: 50px 50px;
  margin: 10px;
  color: #7A7A7A;
  gap: 15px;
}
.header {
  font-family: 'Merriweather','Times New Roman', serif  ;
  color:#5722CD;
  font-size: 30px;
}
.icon {
  width: 30%;
}
.image-wrapper-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    flex-basis: 50px;
    flex-shrink: 1;
     flex-grow: 1;
}
/*.box-1 {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: flex-start;*/
/*  justify-content: space-around;*/
/*  padding:60px:*/


/*}*/



/*-------4.5 contact-form and footer---------------*/
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 900px;
  gap: 50px;
  padding: 100px 0;
  background-color: #5722cd;
  border: solid indianred;
  font-size: 30px;
  color: white;
}
.form-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: 450px;
  padding: 25px;
  border: solid red;
  background-color: #5722cd;
  position: relative;
  margin: 0 20px;
  font-size: 15px;
}
#name {
  padding: 10px 50px 10px 0;
  border-radius: 5px;
}
#email {
  padding: 10px 50px 10px 0;
  border-radius: 5px;
}
#message {
  padding:10px 50px 90px 0;
  border-radius: 5px;

}
.button-styled {

  background-color:#ED4385;
  color: white;
  line-height: 2.5;
  padding: 6px;
  margin: 3px;
  min-width: 180px;
  font-size: 15px;
  text-align: center;
  border-radius: 40px;
  position: relative;
  bottom: -30px; left: calc(50% - 80px);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto','Verdana', sans-serif;
  text-transform: uppercase;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis: 1200px;
  padding: 20px;
  background-color: #0C0C0C;
  color: #F2F0FF;
  font-size: 10px;
}
/* ------------------------------- 6. Media Queries -------------------------------- */
